<section id="truck-info">
  <ul class="truck-list">
    <% @trucks.each do |truck| %>
      <li class="truck">
        <%= image_tag truck.photo.url(:listing), :width => 150, :height => 100 %>
        <div class="truck-description">
          <h2><%= truck.name %></h2>
          <span class="tag"><%= truck.category %></span>
        </div>

        <div class="truck-links">
          <%== truck_links_for truck %>
        </div>

        <% if truck.twitter_username.present? %>
          <div class="latest-tweet"></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>